body {
    background-color: #1e1e1e;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    display: flex;
    flex-direction: column;
}
.header{
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgba(46, 46, 46, 0.8);
    padding: 5px;
    text-align: center;
}
.button-container {
    position: absolute;
    top: 10px;
    right: 10px;
}
.converter-widget {
    display: block;
    position: fixed;
    top: 70px;
    right: -320px;
    padding: 10px;
    border-radius: 8px;
    width: 250px;
    z-index: 2000;
    transition: right 0.7s ease;
}
.converter-widget.active {
    right: 0;
}
.toggle-btn {
    position: relative;
    background-color: #39FF14;
    color: #000;
    padding: 8px 12px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    z-index: 2000;
    width: auto;
}
.toggle-btn:hover {
    background-color: #32b10f;
}
.toggle-btn:active {
    transform: translateY(2px);
    background-color: #2b9c0d;
}
.content{
    padding: 20px;
    margin-top: 0;
}
#price-search-form {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    width: 400px; 
    gap: 10px;
    margin: 0 auto;
}
button, input[type="date"], select {
    width: 100%; 
    padding: 5px;
    margin-bottom: 10px; 
    border: 1px solid #ccc;
    border-radius: 8px; 
    font-size: 1rem; 
}
input[type="date"]:focus, select:focus {
    border-color: #007bff; /* Change border color on focus */
    outline: none; /* Remove default outline */
}
button[type="submit"] {
    background-color: #ffffff;
    color: #000;
    padding: 8px 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    z-index: 2000;
    width: auto;
    transition: background-color 0.3s, transform 0.1s; /* Smooth transition for background color and transformation */
}

button[type="submit"]:hover {
    background-color: #bcb6b6; /* Darker on hover */
}

button[type="submit"]:active {
    transform: translateY(2px); /* Moves down to give pressed effect */
    background-color: #393737; /* Even darker color when pressed */
}

h1{
    text-align: center;
    margin-bottom: 10px;
    color: #87CEFA;
    font-size: 2rem;      
}
h2{
    text-align: center;
    color: #39FF14;
    font-size: 1.2rem;
}
p {
    font-size: 0.8rem;
}
.chart-container {
    margin: 20px auto;
    margin-bottom: 40px;
    width: 90%;
}
iframe {
    width: 100%;
    border: none;
}
.chart-container.floating {
    position: fixed;
    top:120px;
    left:20px;
    z-index: 1000;
    width: 500px;
    height: 100px;
    max-width: 90vw;
    max-height: 90vh;
}
.chart-container.dragging {
    opacity: 0.7;
    cursor: grabbing;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.float-btn {
    cursor: pointer;
}
.float-btn:hover {
    background-color: #c7cfc9;
}
.chatbot-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    color: white;
    font-size: 40px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1000;
}
.chatbot-icon:active {
    background-color: rgb(169, 169, 163);
    border-radius: 10px;
}
/*expanded window*/
.chatbot {
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 300px;
    height: 250px;
    border: 1px solid #ddd;
    background-color: #fff;
    color: #000;
    border-radius: 8px;
    display: none;
    flex-direction: column;
    z-index: 1000;
    font-size: 0.8rem;
}
.chatbot-messages {
    flex: 1;
    padding: 8px;
    overflow-y: auto;
}
.chatbot-input {
    padding: 5px;
    display: flex;
    gap: 5px;
}
.chatbot-input input {
    flex: 1;
    height: 20px;
    padding: 1px;
    font-size: 0.8rem;
}
.chatbot-input button {
    cursor: pointer;
    font-size: 0.8rem;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.back-to-top {
    position: fixed;
    bottom: 30px;
    left: 20px;
    width: 50px;
    height: 50px;
    color: white;
    font-size: 45px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    display: none;
    z-index: 1000;
}
.back-to-top:hover {
    background-color: #0056b3;
}

@media (max-width: 1024px) {
    .toggle-btn {
        font-size: 0.7rem;
        width: auto;
    }
}